@layer pasta, project, components, pages;

@import url("https://unpkg.com/@jaredpdesigns/pasta") layer(pasta);

@layer project {
  :root {
    --outline__offset: var(--size__xs);
    --outline__size: calc(var(--size__xxs) * 2);
    --outline__style: dotted;
    --type__family--primary: iki-mono-variable, monospace;
  }

  body {
    font-feature-settings: "ss01";
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 'wght' 300, 'wdth' 75;
  }

  h1,
  h2,
  h4,
  h5 {
    font-variation-settings: "wdth" 100, "wght" 700;
  }

  h2,
  h3,
  h4,
  h5 {
    font-weight: 600;
    font-variation-settings: "wdth" 75, "wght" 600;
  }

  h1 {
    font-size: var(--type__size--xxxl);
    line-height: var(--type__lineheight--xxxl);

    @media (min-width: 79rem) {
      font-size: var(--type__size--xxxxl);
      line-height: var(--type__lineheight--xxxxl);
    }
  }

  strong {
    font-variation-settings: 'wght' 400, 'wdth' 100;
  }

  a[class] {
    color: var(--color__base);
    text-decoration: none;
    transition: 0.375s ease-in;
    transition-property: color, opacity;

    &:focus,
    &:hover {
      color: var(--color__base--ish);
    }
  }

  p {
    svg {
      flex-shrink: 0;
      margin-block-start: calc(var(--size__xs) * -1);
    }

    &:empty {
      display: none;
    }
  }

  body:has([popover]:popover-open) {
    overflow: hidden;
  }

  header {

    a,
    button {
      --outline__offset: calc(var(--size__xxs) * -1);
      block-size: var(--size__xl);
      border-radius: 50%;
      inline-size: var(--size__xl);
      transition: 0.375s ease-in;
      transition-property: color, opacity;
      z-index: 2;

      &:focus-visible {
        background-color: unset;
      }
    }

    a {
      place-self: start;
    }

    button {
      align-self: start;
      background-color: unset;
      border: unset;
      justify-self: end;

      [data-theme="light"] & {
        svg:last-child {
          display: none;
        }
      }

      [data-theme="dark"] & {
        svg:first-child {
          display: none;
        }
      }
    }
  }
}

@layer components {
  .photo {
    button {
      background-color: unset;
      border: unset;
    }

    &__card {
      img {
        aspect-ratio: 1;
        background-color: var(--color__base--ghost);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        inline-size: 100%;
        object-fit: cover;
        object-position: center;

        @media(min-width: 600px) {
          border-bottom-left-radius: 0;
          border-top-right-radius: var(--size__m);
        }
      }

      figcaption {
        align-content: center;

        >* {
          margin-inline: auto;
        }

        section {
          flex-direction: column;
          row-gap: 0;
        }

        p {
          row-gap: 0;

          span:not(:last-child):after {
            content: ', ';
          }
        }

        svg {
          color: var(--color__base--ish);
        }
      }
    }

    &__header {
      padding-block-end: var(--size__l);
      padding-inline-start: calc(var(--size__m) + env(safe-area-inset-left));
      padding-inline-end: calc(var(--size__m) + env(safe-area-inset-right));

      @media (hover: hover) {
        inset-block-start: 0;
        position: sticky;
      }

      >* {
        grid-area: 1/1;
      }

      a,
      button {

        &:focus,
        &:hover {
          opacity: 0.75;
        }
      }

      figure {
        inline-size: 100%;
      }

      img {
        aspect-ratio: unset;
        block-size: 100%;
      }

      figcaption section {
        flex-direction: row;
      }
    }

    &__preview img {
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: center;
    }

    &__details {
      --background: color-mix(in oklab, hsl(var(--bg)) 25%, var(--color__set--contrast));
      --color: color-mix(in oklab, hsl(var(--bg)) 50%, var(--color__base));
      --outline__color: color-mix(in oklab, hsl(var(--bg)) 75%, var(--color__set--contrast));
      display: none;

      &::backdrop {
        background-color: var(--background);
        backdrop-filter: unset;
      }

      &:popover-open {
        background: unset;
        border: unset;
        align-items: center;
        block-size: 100dvh;
        display: grid;
        inline-size: 100%;
        inset: 0;

        @media(min-width: 80rem) {
          padding: var(--size__m);
        }

        >section {
          block-size: 100dvh;
          grid-template-rows: 1fr auto;
          place-items: center;
          position: relative;

          @media(min-width: 80rem) {
            block-size: calc(100dvh - var(--size__l));
            max-inline-size: calc(var(--width__xl) - var(--size__l));
          }

          nav {
            padding-inline-start: calc(var(--size__m) + env(safe-area-inset-left));
            padding-inline-end: calc(var(--size__m) + env(safe-area-inset-right));

            @media(min-width: 80rem) {
              padding: unset;
            }
          }

          img {
            background-color: color-mix(in oklab, hsl(var(--bg)) 38%, var(--color__set--contrast));
            inline-size: auto;
            max-block-size: calc(100dvh - (var(--size__l) * 2) - 64px);
          }

          figcaption {
            color: var(--color);
          }
        }
      }
    }

    &__nav {
      grid-template-rows: auto 1fr;
      inset: 0;

      button {
        --outline__offset: calc(var(--size__xxs)*-1);
        background-color: var(--background);
        block-size: var(--size__xl);
        border-radius: 50%;
        color: var(--color);
        inline-size: var(--size__xl);
        transition: color 0.375s ease-in;

        &[disabled] {
          --color: color-mix(in oklab, hsl(var(--bg)) 75%, var(--color__base));
          cursor: not-allowed;
        }

        &:focus,
        &:not([disabled]):hover {
          --color: color-mix(in oklab, hsl(var(--bg)) 25%, var(--color__base));
        }
      }
    }
  }

  .cards {
    list-style: none;

    @media (prefers-reduced-motion: no-preference) {
      @supports (animation-timeline: view()) {
        --card-top-offset: var(--size__m);
        margin-block-end: var(--size__l);
        padding-block-end: calc(var(--numcards) * var(--card-top-offset));
        view-timeline-name: --cards-element-scrolls-in-body;

        li {
          --index0: calc(var(--index) - 1);
          --reverse-index: calc(var(--numcards) - var(--index0));

          inset-block-start: 0;
          margin-bottom: calc(var(--index) * var(--card-top-offset) * -1);
          padding-top: calc(var(--index) * var(--card-top-offset));
          position: sticky;

          @keyframes scale {
            to {
              scale: calc(1.1 - calc(0.1 * var(--reverse-index)));
            }
          }

          a {
            --end-range: calc((var(--index)) / var(--numcards) * 100%);
            --start-range: calc(var(--index0) / var(--numcards) * 100%);

            animation: linear scale forwards;
            animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);
            animation-timeline: --cards-element-scrolls-in-body;
            will-change: scale;
          }
        }
      }
    }
  }
}

@layer pages {

  .overview header,
  .error header,
  .detail header {

    a,
    button {
      color: var(--color__base--mid);

      &:focus,
      &:hover {
        color: var(--color__base--ish);
      }
    }
  }

  .overview article,
  .error article {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-block-size: 100dvh;

    header {
      padding-inline-start: calc(var(--size__m) + env(safe-area-inset-left));
      padding-inline-end: calc(var(--size__m) + env(safe-area-inset-right));
    }

    >section {
      align-items: start;
      display: grid;
      gap: var(--size__m);
      justify-items: center;
      padding-inline-start: calc(var(--size__m) + env(safe-area-inset-left));
      padding-inline-end: calc(var(--size__m) + env(safe-area-inset-right));

      >* {
        min-inline-size: 0;
      }
    }
  }

  .error article>section {
    align-content: center;
    align-items: center;
    background-color: var(--color__base--ghost);
    border-radius: var(--size__m);
    grid-template-columns: unset;
  }

  .detail article {
    display: grid;
    min-block-size: 100dvh;

    header {
      @media(min-width: 600px) {
        button {
          color: var(--color__contrast--fixed);

          &:focus,
          &:hover {
            color: var(--color__contrast--fixed);
            opacity: 0.75;
          }
        }
      }
    }

    >section {
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      padding-inline-start: calc(var(--size__m) + env(safe-area-inset-left));
      padding-inline-end: calc(var(--size__m) + env(safe-area-inset-right));
      position: relative;

      >* {
        min-inline-size: 0;
      }
    }
  }
}